@media screen and (min-width: 820px) {
  .codeflare--body {
    flex-direction: column;
  }
  .codeflare--flex-stack.pf-v5-l-stack {
    /* @patternfly/react-core@5.0.1 forced us to added the .pf-v5-l-stack override */
    flex-direction: row;
  }
}

.codeflare--page-sidebar {
  width: 14em !important;
}

/* These rules hack to make the sidebar always visible */
/*.codeflare--dashboard {
  --pf-v5-c-page__sidebar--TranslateX: var(--pf-v5-c-page__sidebar--m-expanded--TranslateX);
  grid-template-areas: "header header" "nav main" !important;
  grid-template-columns: max-content 1fr !important;
}
.codeflare--page-sidebar {
  max-width: unset !important;
  overflow: unset !important;
}*/

.codeflare--text-xs {
  font-size: var(--pf-v5-global--FontSize--xs);
}

.codeflare--text-xxs {
  font-size: 0.5875rem;
  opacity: 0.6875;
}

.codeflare--text-center {
  text-align: center;
}

.codeflare--text-right {
  text-align: right;
}
