@media screen and (min-width: 820px) {
  .codeflare--body {
    flex-direction: column;
  }
  .codeflare--flex-stack.pf-v5-l-stack {
    /* @patternfly/react-core@5.0.1 forced us to added the .pf-v5-l-stack override */
    flex-direction: row;
  }
}

.codeflare--text-sm {
  font-size: var(--pf-v5-global--FontSize--sm);
}

.codeflare--text-xs {
  font-size: var(--pf-v5-global--FontSize--xs);
}

.codeflare--text-xxs {
  font-size: 0.5875rem;
  opacity: 0.6875;
}

.codeflare--text-center {
  text-align: center;
}

.codeflare--text-right {
  text-align: right;
}

.codeflare--max-width-30em {
  max-width: 30em;
  word-break: normal;
}

.codeflare--demo-mode {
  color: var(--pf-v5-global--palette--gold-50);
}

.codeflare--status-online {
  color: var(--pf-v5-global--success-color--100);
}

.codeflare--status-offline {
  color: var(--pf-v5-global--danger-color--100);
}

.codeflare--card-header-no-wrap {
  .pf-v5-c-card__header-main,
  .pf-v5-c-card__title-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
