.codeflare--detail-view {
  a:not(.pf-v5-c-button) {
    /* Hmm, patternfly seems a bit buggy here with anchors inside of a "lg" DescriptionList */
    padding-left: 0;
    font-size: inherit;
    padding-top: 0;
    padding-bottom: 0;
  }
}

/** To get inner scrolling on panel body */
.codeflare--detail-view {
  overflow: hidden;
  .codeflare--detail-view-body {
    overflow: auto;
  }
}

.codeflare--capitalize {
  text-transform: capitalize;
}
