.codeflare--detail-view {
  a:not(.pf-v5-c-button) {
    /* Hmm, patternfly seems a bit buggy here with anchors inside of a "lg" DescriptionList */
    padding-left: 0;
    font-size: inherit;
    padding-top: 0;
    padding-bottom: 0;
  }
}

/** To get inner scrolling on panel body */
.codeflare--detail-view {
  overflow: hidden;

  .codeflare--detail-view-body {
    overflow: hidden;
    flex: 1;

    /* helps with inner scrolling of the `section` */
    display: flex;
    flex-direction: column;

    section {
      /* we want inner scrolling here */
      flex: 1;
      overflow: auto;
    }

    pre {
      white-space: pre-wrap;
      color: var(--pf-v5-global--disabled-color--100);
    }
  }
  .codeflare--detail-view-footer {
    flex: unset;
  }
}

.codeflare--capitalize {
  text-transform: capitalize;
}
