.codeflare--dashboard-header {
  padding: 0;
  .codeflare--dashboard-header-card-header {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .codeflare--dashboard-header-card-body {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
}

.codeflare--masthead {
  /* sigh, patternfly isn't happy with toggle groups in the masthead;
   this override is copied from patternfly's own component gallery as
   of 20231211, replacing .ws-masthead with .codeflare--masthead */
  .pf-v5-c-toggle-group {
    --pf-v5-c-toggle-group__button--m-selected--BackgroundColor: var(--pf-v5-global--palette--blue-400);
    --pf-v5-c-toggle-group__button--focus--BackgroundColor: transparent;
    --pf-v5-c-toggle-group__button--hover--BackgroundColor: transparent;
  }
}
