# EDIT THIS AND MOVE TO ./my.secrets.sh

# Get a Personal Access Token from github.ibm.com
# https://github.ibm.com/settings/tokens
AI_FOUNDATION_GITHUB_USER=xxx
AI_FOUNDATION_GITHUB_PAT=yyy

# Ask nickm@us.ibm.com 
# ONLY IF NEEDED FOR LOCAL TESTING of e.g. HAP or other apps that need access to IBM confidential Datasets
# Otherwise, the CI tests will do this for you
COS_ACCESS_KEY=xxx
COS_SECRET_KEY=yyy
