# EDIT THIS AND MOVE TO ./secrets.sh

# Get a Personal Access Token from github.ibm.com
# https://github.ibm.com/settings/tokens
AI_FOUNDATION_GITHUB_USER=xxx
AI_FOUNDATION_GITHUB_PAT=yyy

HELM_SECRETS="--set github_ibm_com.secret.user=$AI_FOUNDATION_GITHUB_USER --set github_ibm_com.secret.pat=$AI_FOUNDATION_GITHUB_PAT"
