@use "sass:map";
@import "../colors";

$size: 1rem;
$label-size: 0.5rem;

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.codeflare--dashboard {
  --codeflare-cell-color-none: #d2d2d2;
}

@for $idx from 1 through length($cell-colors) {
  $colormap: nth($cell-colors, $idx);
  @each $depth, $color in $colormap {
    .codeflare--grid-cell[data-index="#{$idx - 1}"][data-depth="#{$depth}"] {
      background-color: $color;
      --jaas-grid-outline-color: #{map.get($colormap, 0)};
    }
  }
}

.codeflare--grid-cell {
  width: $size;
  height: $size;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 70ms ease-in-out;

  svg {
    font-size: $label-size;
  }

  span {
    color: white;
    display: flex;
    font-size: $label-size;
    mix-blend-mode: overlay;
    /*animation: spin 4s linear infinite;*/
  }

  &[data-type="placeholder"] {
    background-color: transparent;

    &,
    &:hover {
      cursor: unset;
      outline: none;
    }

    /** This gives an X inside the cell */
    &:before
    /*&:after*/ {
      position: absolute;
      content: " ";
      height: 0.7 * $size;
      width: 2px;
      background-color: var(--pf-v5-global--BorderColor--100);
    }
    &:before {
      transform: rotate(90deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }

  &[data-type="inbox"],
  &[data-type="outbox"] {
    filter: grayscale(0.05) opacity(0.9);
  }
  &[data-type="processing"] {
    filter: saturate(1.5);
  }

  &:hover {
    cursor: pointer;
    outline: 2px solid var(--pf-v5-global--Color--100);
    outline-offset: -1px;
  }
}

html.pf-v5-theme-dark {
  .codeflare--grid-cell {
    &[data-type="worker"] {
      background-color: var(--pf-v5-global--palette--light-blue-100);
    }
  }
}
