$card-icon-size: 1.5em;

.codeflare--card-icon {
  font-size: $card-icon-size;

  img {
    height: $card-icon-size;
    width: $card-icon-size;
  }
}

.codeflare--detail-view {
  a {
    /* Hmm, patternfly seems a bit buggy here with anchors inside of a "lg" DescriptionList */
    padding-left: 0;
    font-size: inherit;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.codeflare--capitalize {
  text-transform: capitalize;
}

.codeflare--card-in-gallery-help-button {
  padding: 0 4px;
}
