.codeflare--grid-cell {
  width: 1.375em;
  height: 1.375em;
  display: flex;
  align-items: center;
  justify-content: center;

  &[data-dataset="0"] {
    --cell-color: #009596;
  }
  &[data-dataset="1"] {
    --cell-color: #5752d1;
  }
  &[data-dataset="2"] {
    --cell-color: #ec7a08;
  }

  &[data-type="worker"],
  &[data-type="inbox"],
  &[data-type="outbox"],
  &[data-type="processing"],
  &[data-type="waiting"] {
    background-color: var(--cell-color); //#fc6769;
    &:hover {
      filter: saturate(3);
    }
  }

  &[data-type="inbox"] {
    filter: grayscale(0.5) brightness(0.8);
  }

  &[data-type="outbox"] {
    filter: grayscale(0.8) opacity(0.95);
  }

  &[data-type="waiting"] {
    background-color: #d2d2d2;
    &:hover {
      filter: brightness(0.75);
    }
  }

  &[data-type="worker"] {
    background-color: #002952;
  }

  &:hover {
    cursor: pointer;
    filter: hue-rotate(45deg);
  }
}

html.pf-v5-theme-dark {
  .codeflare--grid-cell {
    &[data-type="worker"] {
      background-color: #bee1f4;
    }
  }
}
