.codeflare--grid-cell {
  width: 1.375em;
  height: 1.375em;
  display: flex;
  align-items: center;
  justify-content: center;

  &[data-type="inbox"],
  &[data-type="outbox"],
  &[data-type="processing"],
  &[data-type="waiting"] {
    background-color: #35caed; //#fc6769;
    &:hover {
      filter: saturate(3);
    }
  }

  &[data-type="inbox"] {
    filter: grayscale(0.5) opacity(0.9);
  }

  &[data-type="outbox"] {
    filter: grayscale(0.85) opacity(0.9);
  }

  &[data-type="waiting"] {
    background-color: #d2d2d2;
    &:hover {
      filter: brightness(0.75);
    }
  }

  &[data-type="worker"] {
    background-color: #002952;
    &:hover {
      filter: brightness(3);
    }
  }

  &:hover {
    cursor: pointer;
    filter: hue-rotate(45deg);
  }
}
