.codeflare--workqueue {
  gap: 1px;
}

.codeflare--workqueues {
  display: table;
  line-height: 0.875em;

  .codeflare--workqueues-row {
    display: table-row;
  }

  .codeflare--workqueues-cell {
    &:first-child {
      text-align: right;
      padding-right: 3px;
    }
    display: table-cell;
  }
}
