.codeflare--code .cm-editor {
  font-size: 0.875em;
  background-color: var(--pf-v5-global--BackgroundColor--dark-100);
}

.codeflare--code[data-show-line-numbers="false"] .cm-gutters {
  display: none;
}

.codeflare--code .cm-content {
  padding: 0;
}
