.codeflare--dashboard {
  --pf-v5-chart-color-black-100: #f0f0f0;
  --pf-v5-chart-color-black-200: #d2d2d2;
  --pf-v5-chart-color-black-300: #b8bbbe;
  --pf-v5-chart-color-black-400: #8a8d90;
  --pf-v5-chart-color-black-500: #6a6e73;

  --pf-v5-chart-color-blue-100: #8bc1f7;
  --pf-v5-chart-color-blue-200: #519de9;
  --pf-v5-chart-color-blue-300: #06c;
  --pf-v5-chart-color-blue-400: #004b95;
  --pf-v5-chart-color-blue-500: #002f5d;

  --pf-v5-chart-color-green-100: #bde2b9;
  --pf-v5-chart-color-green-200: #7cc674;
  --pf-v5-chart-color-green-300: #4cb140;
  --pf-v5-chart-color-green-400: #38812f;
  --pf-v5-chart-color-green-500: #23511e;

  --pf-v5-chart-color-purple-100: #b2b0ea;
  --pf-v5-chart-color-purple-200: #8481dd;
  --pf-v5-chart-color-purple-300: #5752d1;
  --pf-v5-chart-color-purple-400: #3c3d99;
  --pf-v5-chart-color-purple-500: #2a265f;

  --pf-v5-chart-color-gold-100: #f9e0a2;
  --pf-v5-chart-color-gold-200: #f6d173;
  --pf-v5-chart-color-gold-300: #f4c145;
  --pf-v5-chart-color-gold-400: #f0ab00;
  --pf-v5-chart-color-gold-500: #c58c00;
}

/**
 * This is an array of maps. The outer array will be indexed by
 * `[data-index]`, and the inner map will be indexed by the `depth`
 * of a grid cell.
 */
$cell-colors: (
  (
    1000: var(--pf-v5-chart-color-black-500),
    100: var(--pf-v5-chart-color-black-400),
    25: var(--pf-v5-chart-color-black-300),
    1: var(--pf-v5-chart-color-black-200),
    0: var(--pf-v5-chart-color-black-100),
  ),
  (
    1000: var(--pf-v5-chart-color-green-500),
    100: var(--pf-v5-chart-color-green-400),
    25: var(--pf-v5-chart-color-green-300),
    1: var(--pf-v5-chart-color-green-100),
    0: var(--pf-v5-chart-color-green-200),
  ),
  (
    1000: var(--pf-v5-chart-color-purple-400),
    100: var(--pf-v5-chart-color-purple-300),
    25: var(--pf-v5-chart-color-purple-200),
    1: var(--pf-v5-chart-color-purple-100),
    0: var(--pf-v5-chart-color-purple-200),
  ),
  (
    1000: var(--pf-v5-chart-color-blue-500),
    100: var(--pf-v5-chart-color-blue-400),
    25: var(--pf-v5-chart-color-blue-300),
    1: var(--pf-v5-chart-color-blue-100),
    0: var(--pf-v5-chart-color-blue-200),
  ),
  (
    1000: var(--pf-v5-chart-color-gold-500),
    100: var(--pf-v5-chart-color-gold-400),
    25: var(--pf-v5-chart-color-gold-300),
    1: var(--pf-v5-chart-color-gold-100),
    0: var(--pf-v5-chart-color-gold-400),
  )
);
