.codeflare--page-sidebar {
  .pf-v5-c-tree-view {
    /* patternfly has a bug with TreeView against dark variant sections (e.g. PageSidebar with its default dark) */
    --pf-v5-c-tree-view__node--hover--BackgroundColor: var(--pf-v5-global--BackgroundColor--100);
    --pf-v5-c-tree-view__node--focus--BackgroundColor: var(--pf-v5-global--BackgroundColor--100);
  }

  .codeflare--switch {
    --pf-v5-c-switch__input--checked__label--Color: var(--pf-v5-global--Color--100);
    --pf-v5-c-switch__input--not-checked__label--Color: var(--pf-v5-global--Color--100);
  }
}
