/** react-syntax-highlighter override */
pre.codeflare--syntax-highlighting {
  font-family: RedHatMono, monospace !important;
  background-color: var(--pf-v5-global--BackgroundColor--dark-300) !important;

  &[data-has-no-padding="true"] code {
    padding: 0 !important;
  }
}
